:root {
    --cream: rgb(252, 231, 199);
    --lavender: rgb(128, 128, 192);
    --light-purple: rgb(200, 191, 231);
    --indigo: rgb(43, 49, 104);
    --light-blue: rgb(153, 217, 234);

}


.picture-of-me img {
    max-width: 300px;
    
}
































