* {
    box-shadow: border-box;
}

/*color pallet used on the site*/
:root {
    --cream: rgb(252, 238, 218);
    --lavender: rgb(128, 128, 192);
    --light-purple: rgb(200, 191, 231);
    --indigo: rgb(43, 49, 104);
    --light-blue: rgb(153, 217, 234);
    --peach: rgb(252, 204, 102);

}

body{
    margin: 0;
    padding: 0;
    color: var(--indigo);
    background-color: var(--cream);
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    line-height: 1.7;
    text-indent: 2%;
}

header {
    padding: 15px 6% 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--lavender);
    box-shadow: 0px 5px 35px var(--indigo);
}

header h1 {
    color: var(--light-purple);
    background-color: var(--indigo);
    padding: 10px;
    border-radius: 20px;
    line-height: 1;
    font-size: 4vw;
}

/*navigation bar in header*/
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--light-purple);
    margin-right: 10px;
    background-image: linear-gradient(90deg, var(--light-purple) 50%, var(--light-purple) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: top;
    transition: all 0.25s ease-in;
    font-size: 1.3rem;
}

nav a:hover {
   background-size: 100% 100%;
   color: var(--indigo);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/*banner image under the header*/
.hero-banner {
    background-image: url("../images/purple-flowers.jpg")/*, linear-gradient(180deg, var(--light-purple) 0%, var(--lavender 100%))*/;
    background-size: cover;
    background-position: center;
    min-height: 25vh;
    color: var(--indigo);
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-banner h2 {
    background-color: var(--light-purple);
    color: var(--indigo);
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 2rem;
    line-height: 1.3; 
    border-radius: 50px;
} 


.page-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

/*header is displayed on the left side of the content*/
.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px dotted var(--indigo);
    font-size: 1.3rem;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section p {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.about-me div {
    justify-content: center;
    display: inline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*had a lot of trouble fitting the picture in the about me section, in the future I want rearange and change things so that it fits in the about me section and looks more astheticly pleasing*/
.picture-of-me {
   background-color: var(--lavender);
   border: 4px var(--light-purple);
   padding: 10px;
   max-width: 303px;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.picture-of-me img {
    max-width: 300px;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*application links*/
.flex-item {
    border: 5px dashed var(--lavender);
    border-radius: 20px;
    background-color: var(--light-purple);
    color: var(--cream);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

/*makes first desplayed application larger than the others*/
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: #6d6c6c;
}

.flex-item div {
    background-color: var(--lavender);
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
}

.flex-item h3 {
    font-size: 1.5rem;
}

#contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#contact address a {
    color: var(--cream);
    padding: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    white-space: nowrap;
    background-color: var(--indigo);
    border-radius: 15px;
}

/*creates a hover box shadow on contact links*/
#contact address a:hover,
#contact address a:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--lavender);
    transform: translateY(-0.25em);
    background-size: 100% 88%;
}

/*background images for the portfolio*/
.future {
    background-image: url("../images/bookClub.PNG");
}

.portfolio {
    background-image: url("../images/portfolio.PNG");
}

.prework {
    background-image: url("../images/prework-study-guide.png");
}

.challenge1 {
    background-image: url("../images/first-challenge.png");
}

.cooksCompanion {
    background-image: url("../images/cooks-companion.PNG");
}

footer {
    color: var(--cream);
    background-color: var(--lavender);
    text-align: center;
}


/*makes sure the site still looks aplealinmg when looking on a moble device*/
@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }
    
    header nav {
        justify-content: center;
    }

    .page-section > h2,
    .page-section > div {
        flex: 0 0 100%;
    }

    .page-section > h2 {
        border-right: none;
        border-bottom: 4px dotted var(--indigo);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }
    
    .flex-item:first-child {
        min-height: 150px;
    }

    .hero-banner {
        justify-content: center;
        text-align: center;
    }

    #content address {
        flex-direction: column;
        align-items: flex-start;
    }    
    
    .picture-of-me {
        display: block;
    }
}